/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
  }
  
  /* Body styles */
  body {
    font-family: "apple-system, BlinkMacSystemFont";
    line-height: 1.6;
    background-color: #f7f7f7;
  }
  
  /* Container */
  .container {
    width: 85%;
    font-family: "freight-big-pro";
    margin: 0 auto;
    padding: 0 15px;
   
    background-size: cover;
  }
 
  /* Header styles */
  .header {
   box-shadow: 1px 5px 5px grey;
    background-color: #5f5a5a;
    color: #fff;
    padding: 0rem 0;
  }
  
  .header .logo {
    float: left;
   
  }
  
  .header .logo img {
    max-width: 200px;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 50vh; 
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: lighter;
    transition: color 1.3s ease;
    
  }
  
  .navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
   
  }
  
  .navigation li {
    margin-bottom: 20px;
    margin-right:250px;
    
  }
  
  .navigation a {
    color: #fff;
    /*text-decoration: none;*/
    font-family: "freight-big-pro", serif;
    
  }
  
  .navigation a:hover {
    color: #ddd;
  }


  
  /* Hero section styles */
  .hero {
    background: url(/img/food.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0ch;
    text-align: center;
    padding: 100px 0;
    font-kerning: none;
  }
  
  .hero h1 {
  -webkit-font-smoothing: antialiased;
  font-size: 100px;
  margin-bottom:100px;
  text-align: left;
  font-optical-sizing: none;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  padding-inline-end: 2em;
  writing-mode: horizontal-tb;
  font-weight: normal;
  padding-top: 0%;
  font-weight: lighter;
  color: antiquewhite;

  }
  
  .hero p {
    word-spacing: 4px;
    font-size : 1.5rem;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: left;
    font-weight: bolder;
    color: antiquewhite;
    
  
  }
  
  .hero .btn {
    display: inline-block;
    background-color: transparent;
    color: antiquewhite;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .hero .btn:hover {
    background-color: rgba(2, 43, 43, 0.2);
  }
  
  
  /* Menu section styles */
  .menu {
    padding: 100px 0;
    text-align: center;
    background-image:url('/img/menu-bg.jpg')
  }
  
  .menu h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #f7f7f7;
    

    
  }
  
  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;

  }
  
  .menu-item {
    text-align: left;
    background: url();
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  }
  
  .menu-item img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .menu-item h3 {
    margin-top: 20px;
    
    font-size: 1.2rem;
    line-height: 1,333;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .menu-item p {
    font-size: 1.2rem;
    line-height: 1,333;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* About section styles */
.image-item {display: none}
  img {
    vertical-align: middle;
  }
      
      /* Slideshow container */
      .slide-section {
        max-width: 1000px;
        position: relative;
        margin: auto;
        flex-direction: column;
        box-shadow: 1px -4px 45px 11px rgba(20,1,1,0.75);
        -webkit-box-shadow: 1px -4px 45px 11px rgba(20,1,1,0.75);
        -moz-box-shadow: 1px -4px 45px 11px rgba(20,1,1,0.75);;
        
      }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  /* Contact section styles */
  .contact {
    padding: 100px 0;
    text-align: center;
    background: url(/img/sushi2.jpg);
    color: antiquewhite;

  }
  
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .contact p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
  }
  .sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:url(/img/menu-bg.jpg);
    overflow-x: hidden;
    transition: 1.5s;
    padding-top: 150px;
    transform: scale(1);
    opacity: 1;
    font-family: "freight-big-pro", serif;
  }
  
  .sidenav a {
    font-family: "freight-big-pro", serif;
    padding: 8px 80px 8px 320px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    
    
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;;
  }
  
  
  .col-1 {
    display: flex;
    justify-content: space-between;
    
    font-size: 15px;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    white-space: normal;
  }
  #row-countent{
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: normal;
  }
  .m-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; 
  }
  
.col-2{
  display: flex;
  padding-top: 15px;
    padding-bottom: 15px;
    white-space: normal;
    justify-content: space-between;
    color: #f1f1f1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}