
body{
    background-image: url("https://i.pinimg.com/564x/78/6c/ec/786cecf39662f4692cd14ab5b9ca2fec.jpg");
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title{
    text-align: center;
    color:#e4d1bf;
    font-weight: 400;
    margin-left: 80px;

}

#im{
    max-width: 500rem;
    height: auto;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 250px;

}

.card img {
    width: 100%;
    height: auto;
    
}

.card-content {
    padding: 15px;
    text-align: center;
    
}

.card-content p {
    margin: 10px 0;
    font-size: 18px;
}

.card-content p:last-child {
    color: #ff5733;
    font-weight: bold;
}
.allcard{
    display: flex;
    padding: 4rem;
    gap:20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}
.hero .btn {
    display: inline-block;
    
    color:rgba(246, 215, 176, 0.91);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #818181;
}
.card:hover,.card:active{
    font-size: 500%;
}